# <span style='color:green'> 2_Data structures in Python </span>

## <span style='color:brown'> 1.List Exercise  <span>

### Q1. Create a list of 5 random numbers and print the list.

In [17]:
list1=[10,20,30,40,50]
print("List Of 5 Random Numbers Is:",list1)

List Of 5 Random Numbers Is: [10, 20, 30, 40, 50]

### Q2. Insert 3 new values to the list and print the updated list.

In [18]:
list1.extend([60,70,80])
print("Updated List:",list1)

Updated List: [10, 20, 30, 40, 50, 60, 70, 80]

### Q3. Try to use a for loop to print each element in the list.

In [21]:
print("The Element in The List Are:")
for i in list1:
    print(i)

The Element in The List Are:
10
20
30
40
50
60
70
80

## <span style='color:brown'> 2.Dictionary Exercise   <span>

### Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.

In [24]:
details={'Name':'John','Age':'25','Address':'New York'}
print("The Person Details Is:",details)

The Person Details Is: {'Name': 'John', 'Age': '25', 'Address': 'New York'}

### Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'. T

In [25]:
details["Phone"]=1234567890
print("The updated dictionary is :",details)

The updated dictionary is : {'Name': 'John', 'Age': '25', 'Address': 'New York', 'Phone': 1234567890}

## <span style='color:brown'> 3.Set Exercise   <span>

### Q1.Create a set with values 1, 2, 3, 4, and 5.

In [26]:
set1={1,2,3,4,5}
print("The original set is :",set1)

The original set is : {1, 2, 3, 4, 5}

### Q2. Add the value 6 to the set created in Q1.

In [27]:
set1.add(6)
print("The Updated Set Is:",set1)

The Updated Set Is: {1, 2, 3, 4, 5, 6}

### Q3. Remove the value 3 from the set created in Q1.

In [33]:
print("The set before removing the value 3 is : ",set1)
set1.discard(3)
print("The set after removing value 3 is :",set1)

The set before removing the value 3 is :  {1, 2, 4, 5, 6}
The set after removing value 3 is : {1, 2, 4, 5, 6}

## <span style='color:brown'> 4.Tuple Exercise  <span>

### Q1. Create a tuple with values 1, 2, 3, and 4

In [35]:
tup1=(1,2,3,4)
print("The tuple is :",tup1)

The tuple is : (1, 2, 3, 4)

### Q2. Print the length of the tuple created in Q1.

In [36]:
print("The Length Of The Tuple Is:",len(tup1))

The Length Of The Tuple Is: 4